# 编译输出（Keil build 产物）
MDK-ARM/OCT_CT/
Debug/
Release/
build/
output/
Objects/
Listings/

# 编译器产物
*.o
*.d
*.crf
*.dep
*.htm
*.map
*.lst
*.axf
*.hex
*.bin
*.elf
*.lnp
*.lgc
*.sct
*.build_log.*

# Keil 临时 / 用户文件
*.uvguix.*
*.uvopt
*.uvoptx
*.warnings

# 调试、日志、临时文件
*.bak
*.log
*.tmp
plugs/*
timings/*
MDK-ARM/build_log.txt

# CubeMX 辅助缓存
.mxproject
MXTmpFiles/

# Keil 自动生成（RTE / 调试配置）
MDK-ARM/RTE/
MDK-ARM/DebugConfig/

# 项目备份
.cube_backup/

# CubeMX 可重新生成的中间件/驱动
Drivers/
Middlewares/

# Trae / IDE 内部
.trae/

# 临时脚本
gen.cube

# 编辑器 / 系统
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store